
.project-list{
    box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
    -webkit-box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
    -moz-box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);

    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.project-list:hover{
    border-left: 5px solid blueviolet;
    cursor: pointer;
    transition: ease 1s;
}
.project-opened{
    border-left: 5px solid blueviolet;
}
.title-and-collapse-option{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.tech-used-in-project{
    margin-top: 20px;
    margin: 5px;
}
.tech-used-in-project p{
    background-color: tomato;
    color: black;
    border-radius: 90px;
    padding: 8px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tech-used-in-project p:hover{
    background-color: black;
    color: white;

}
.live-demo-button{
    background-color: brown;
    border-radius: 90px;
    color: white;
    width: fit-content;
    padding: 5px;
}
.live-demo-button a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.live-demo-button:hover{
    background-color: aqua;
    transition-duration: 1s;
    color: black;
}
.project-opened{
    margin: 5px;
}
.description{
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}