.about-section{
    box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
    -webkit-box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
    -moz-box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
    border-radius: 10px;
    margin-top: 50px;

    height: 500px;

}
.about-image img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid rgb(7, 7, 7);
    margin: 70px;
    

}
.about-details{
    margin-top: 30px;
}
.about-title h5{
    margin-top: 60px;
    text-align: center;
}
.line{
    display: block;
    width: 70px;
    height: 3px;
    margin: 1px auto;
    background-color: yellowgreen;
}

@media (max-width: 1000px){
    .about-section{
        height: auto;
    }
    .about-image img{
        margin: auto;
    }
}

@media (max-width: 700px){
    
    .about-image{
        width: 100%;
    }
    .about-image img{
        height: 200px;
        width: 200px;
        margin-left: 100px;
       
    }
}

@media (max-width: 400px){
    
    .about-image{
        width: 100%;
    }
    .about-image img{
        height: 200px;
        width: 200px;
        margin-left: 80px;
       
    }
}

@media (max-width: 300px){
    
    .about-image{
        width: 100%;
    }
    .about-image img{
        height: 200px;
        width: 200px;
        margin-left: 50px;
       
    }
}