.tools-section{
    margin-top: 40px;
    height: auto;
    margin-bottom: 50px;
}


.section-title h5{
    text-align: center;
}
.tools-content{
    padding: 10px;
    color: black;
    margin-top: 50px;

    box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
    -webkit-box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
    -moz-box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
}
.tools-content-start{
    background-color: aqua;
}
.tools-content p{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tools-content:hover{
    background-color: #ff854c;
    color: white;
    cursor: pointer;
    transition: ease 1s;

    box-shadow: -6px 11px 5px -4px rgba(0,0,0,0.42);
    -webkit-box-shadow: -6px 11px 5px -4px rgba(0,0,0,0.42);
    -moz-box-shadow: -6px 11px 5px -4px rgba(0,0,0,0.42);
}
.tool-index {
    border-radius: 90px;
    height: 50px;
    width: 50px;
    color: black;
    font-weight: 700;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: -30px;
    line-height: 50px;

}
.load-more-tools{
    background-color: green;
    width: 150px;
    padding: 10px;
    color: white;
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 15px;
    margin-bottom: 40px;
    cursor: pointer;
    font-weight: 700;
}
.load-more-tools:hover{
    background-color: blanchedalmond;
    color: black;
    font-weight: 700;
    border: 2px solid black;
    transition: ease .4s;
}
