.home{
    height: 400px;
    color: white;
}
.home-content{
    padding: 10px;
    margin-top: 100px;
}
.home-content h1{
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.home-content h3{
    margin-top: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.button-for-action{
    display: flex;
}
.hire-me-button{
    background-color: #FF854C;
    text-align: center;
    width: 180px;
    padding: 10px;
    border-radius: 90px;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid yellow;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium','Arial Narrow', arial, sans-serif;
}
.hire-me-button:hover{
    background-color: white;
    width: 250px;
    color: black;
    transition: ease 1s;
}
.get-resume-button{
    background-color: rgb(3, 79, 145);
    text-align: center;
    width: 180px;
    padding: 10px;
    border-radius: 90px;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid white;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium','Arial Narrow', arial, sans-serif;
}
.get-resume-button:hover{
    background-color: rgb(78, 116, 3);
    width: 250px;
    color: black;
    transition: ease 1s;
}
.get-resume-button a{
    text-decoration: none;
    color: black;
}