.contact-section{
    height: 1000px;
    margin-top: 50px;
}
.contact-form-image img{
    height: 600px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.contact-form-design{
    box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
    -webkit-box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
    -moz-box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
    padding: 15px;
    border-radius: 20px;
    margin-top: 30px;
    border: 2px solid black;
}
.contact-form input{
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.custom-select{
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.contact-form textarea{
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.btn-submit p{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 30px;
    width: 50%;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

@media (max-width: 600px) {
    .contact-form-image img {
      display: none;
    }
  }