.mobile-view-navbar{
    position: sticky;
    top: 0;
    z-index: 12;

}

.navbar-header{
    width: 100%;
    color: white;
    background-color:aqua;
    padding: 5px;
}
.navbar-header p svg{
    margin: 8px 10px;
}
.mobile-nav{
    height: auto;
    width: 210px;
    background-color: aquamarine;
    margin-top: 10px;
}
.mobile-nav ul li {
    list-style: none;
    text-decoration: none;
    padding: 10px;
}
.mobile-nav ul li a{
    text-decoration: none;
}
.nav-item-mobileview{
    width: 100%;
    padding: 5px;
}
.mobile-nav ul li svg{
    margin-right: 10px;
    margin-left: -10px;
  
}
@media (min-width:1000px) {
    .mobile-view-navbar{
        display: none;
    }
}