::-webkit-scrollbar{
  width: 8px;
  height: auto;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px rgb(103, 100, 109);
}

::-webkit-scrollbar-thumb{
  background-color: red;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: green;
}